/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.user-stat {
  font-size: 3em;
  color: #969696;
}

.fa-receipt {
  color: #dbdbdb;
}

.fa-cash-register {
  color: #dbdbdb;
}

.fa-wallet {
  color: #dbdbdb;
}

.navbar {
  margin-bottom: 15px;
  color: #023C40;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.top-row {
  margin-bottom: 5vh;
}

#menu {
  height: 600px;
  background-color: #dbdbdb;
}

#orders-placed {
  margin-top: 5px;
  height: 300px;
  background-color: #dbdbdb;
  overflow-y: scroll;
}

#orders-served {
  height: 300px;
  background-color: #dbdbdb;
  overflow-y: scroll;
}

#shelf {
  height: 600px;
  background-color: #dbdbdb;
}

#order-board {
  height: 600px;
  background-color: #dbdbdb;
  margin-left: 5px;
}

#stove {
  height: 100px;
  background-color: #dbdbdb;
  margin-top: 5px;
}

.menu-item:hover {
  color: green;
  cursor: pointer;
}

.pot {
  background-color: #969696;
  color: white;
  min-height: 75px;
  margin: -40px 10px 0 5px;
}

.pot-active {
  background-color: blue;
}

.add-ing {
  color: green;
  background-color: white;
}

.add-ing:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

.start {
  color: green;
  font-size: 0.01em;
  line-height: 1.5em;
}

.tiny {
  font-size: 0.001em;
}

.home-container {
  margin-top: 15px;
}

.home-form {
  margin-top: 5vh;
}

.user-placed-order {
  color: #0847ad;
  cursor: pointer;
}

.user-placed-order:hover {
  color: white;
}

.user-served-order {
  color: #0847ad;
}

.table-card {
  min-height: 225px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  margin: 5px;
}

.tablecard-li {
  /* background-color: #dbdbdb; */
  background-color: transparent;
  padding: .5rem 1.25rem;
  border: none;
  font-size: 1.25em;
}

.user-tablecard-li {
  color: #0847ad;
}

.watermark {
   position: absolute;
   top: 20%;
   left: 10%;
   bottom: auto;
   right: auto;
   z-index: 0;
   overflow: hidden;
   color: #ededed;
   font-size: 8em;
   font-weight: bold;
}

.watermark-symbol {
  /* color: #e2e2e2;
  font-size: 0.5em; */
  font-weight: normal;
}

/* color: #ededed;  light */
/* color: #e2e2e2;  dark */

.chair-link {
  text-align: right;
  padding: 5% 5% 0 0;
}
