/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#menu {
  height: 600px;
  background-color: #dbdbdb;
}

#orders-placed {
  margin-top: 5px;
  height: 300px;
  background-color: #dbdbdb;
  overflow-y: scroll;
}

#orders-served {
  height: 300px;
  background-color: #dbdbdb;
  overflow-y: scroll;
}

#shelf {
  height: 600px;
  background-color: #dbdbdb;
}

#order-board {
  height: 600px;
  background-color: #dbdbdb;
  margin-left: 5px;
}

#stove {
  height: 100px;
  background-color: #dbdbdb;
  margin-top: 5px;
}

.menu-item:hover {
  color: green;
  cursor: pointer;
}

.pot {
  background-color: #969696;
  color: white;
  min-height: 75px;
  margin: -40px 10px 0 5px;
}

.pot-active {
  background-color: blue;
}

.add-ing {
  color: green;
  background-color: white;
}

.add-ing:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

.start {
  color: green;
  font-size: 0.01em;
  line-height: 1.5em;
}

.tiny {
  font-size: 0.001em;
}

.home-form {
  margin-top: 5vh;
}

.table-card {
  min-height: 200px;
  background-color: #dbdbdb;
  margin: 5px;
}

.user-placed-order {
  color: #0847ad;
  cursor: pointer;
}

.user-placed-order:hover {
  color: white;
}

.user-served-order {
  color: #0847ad;
}

.user-tablecard-li {
  color: #0847ad;
}
